<%= link_to 'Sign up!', new_user_path %>

<br><br>
<% @users.each do |user| %>
	<div class="six columns">
		<div id='user-<%= user.id %>-post-list' class='post-list'>
		  <%= render user.posts %>
		  <% user.posts.each do |comment| %>
		  
		  <% end %>
		</div>
	</div>
<% end %>
<br><br>
